[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphql-jwt = "==0.3.0"
django-graphql-auth = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
